<!-- home2 Footer Section Start -->
<footer class="footer-section two">
  <div class="footer-main-wrap">
    <div class="container one">
      <div class="row gy-5 justify-content-between">
        <div class="col-xl-3 col-lg-3">
          <div class="company-logo-area">
            <a href="/" class="company-logo"><img src="{{ url_for('static', filename='assets/img/innerpages/footer-logo.jpg') }}" alt="Logo" /></a>
          </div>
        </div>

        <div class="col-xxl-8 col-xl-8 col-lg-9">
          <div class="row gy-5 justify-content-between">
            <!-- Head Office -->
            <div class="col-xxl-5 col-xl-4 col-lg-5 col-md-5">
              <div class="footer-widget">
                <h3 class="widget-title">Head Office</h3>

                <div class="address-area">
                  <a href="#">
                    London Office,
                    <br />
                    Canary Wharf Business District London, United Kingdom
                  </a>
                </div>

                <ul class="contact-list">
                  <li class="single-contact">
                    <div class="content">
                      <a href="tel:+44800123456">+44-800 123 456</a>

                      <span>Sunday – Thursday | 9:00 AM – 6:00 PM</span>
                    </div>
                  </li>

                  <li class="single-contact">
                    <div class="content">
                      <a href="mailto:info@hozconsulting.com">info@hozconsulting.com</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <!-- About -->
            <div class="col-xxl-3 col-xl-4 col-lg-3 col-md-3 d-flex justify-content-md-center">
              <div class="footer-widget">
                <h3 class="widget-title">About</h3>

                <ul class="footer-menu-list">
                  <li>
                    <a href="/about">Who we are?</a>
                  </li>

                  <li>
                    <a href="/contact">Contact</a>
                  </li>

                  <li>
                    <a href="/services">Practice Area</a>
                  </li>

                  <li>
                    <a href="/case-studies">Case Study</a>
                  </li>

                  <li>
                    <a href="/career">Career</a>
                  </li>

                  <li>
                    <a href="/blog">Resources</a>
                  </li>
                </ul>
              </div>
            </div>

            <!-- Legality -->
            <div class="col-xxl-3 col-xl-4 col-lg-3 col-md-4 d-flex justify-content-md-end">
              <div class="footer-widget">
                <h3 class="widget-title">Legality</h3>

                <ul class="footer-menu-list">
                  <li>
                    <a href="/privacy-policy">Privacy & Policy</a>
                  </li>

                  <li>
                    <a href="/terms">Terms & Conditions</a>
                  </li>

                  <li>
                    <a href="/faq">FAQ’s</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="copyright-area">
    <div class="container-fluid one">
      <span>© 2026 Hoz Consulting. All Rights Reserved.</span>
    </div>
  </div>
  
</footer>
<!-- home2 Footer Section End -->
