{% extends 'layouts/app.html' %}

{% block title %}
  Webinar & Events | Hozpitality Consulting
{% endblock %}

{% block meta_description %}
  Explore Hozpitality Consulting webinars and events featuring hospitality experts, networking opportunities, business strategies, leadership insights, and industry growth discussions.
{% endblock %}

{% block content %}
  <!-- Breadcrumb Section Start -->
  <div class="breadcrumb-section mb-140" style="background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url('{{ url_for('static', filename='assets/img/innerpages/breadcrumb-bg11.jpg') }}');">
    <div class="container one">
      <div class="row">
        <div class="col-lg-10">
          <div class="banner-content">
            <h1>Hospitality Industry Partnerships & Franchise Relationships</h1>

            <ul class="breadcrumb-list">
              <li>
                <a href="{{ url_for('home') }}">Home</a>
              </li>

              <li>
                <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <path d="M4.88174 0.633502L12.9342 6.57774C12.9975 6.62911 13.0485 6.69395 13.0835 6.76753C13.1185 6.84111 13.1367 6.92158 13.1367 7.00308C13.1367 7.08458 13.1185 7.16505 13.0835 7.23863C13.0485 7.31221 12.9975 7.37705 12.9342 7.42842L4.88174 13.3727C4.39775 13.5513 4.11824 13.4153 4.04321 12.9648L11.5446 7.42842C11.6078 7.37705 11.6588 7.31221 11.6939 7.23863C11.7289 7.16505 11.7471 7.08458 11.7471 7.00308C11.7471 6.92158 11.7289 6.84111 11.6939 6.76753C11.6588 6.69395 11.6078 6.62911 11.5446 6.57774L4.04691 1.04405C4.0518 0.949341 4.0819 0.857657 4.13409 0.778471C4.18628 0.699286 4.25866 0.635471 4.34376 0.59362C4.42887 0.551769 4.5236 0.5334 4.61818 0.540411C4.71275 0.547423 4.80374 0.57956 4.88174 0.633502Z" />
                  </g>
                </svg>Hospitality Industry Partnerships & Franchise Relationships
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumb Section End -->

  <!-- home3 Service Section Start -->
  <div class="home3-service-section mb-140" id="service-section">
    <div class="container one">
      <div class="row justify-content-center mb-60">
        <div class="col-xl-10 col-lg-10 col-md-10">
          <div class="section-title three text-center">
            <h3 class="text-anim">We are building relationships with hospitality brands, franchise development teams, hospitality investors, and hospitality businesses through hospitality networking and industry engagement initiatives.</h3>
            <p class="fade_anim" data-delay=".2">Areas of collaboration may include:</p>
          </div>
        </div>
      </div>
      <div class="service-wrapper">
        <!-- Card 01 -->
        <div class="service-card3">
          <div class="service-content-wrap">
            <span class="service-no">1. Hospitality Industry Engagement</span>

            <div class="service-content">
              <h2><a href="solution-details.html">Hospitality Events</a></h2>

              <p>We organize hospitality networking events, executive meetups, hotel investment forums, and industry conferences connecting hospitality professionals and global brands.</p>

              <ul>
                <li>
                  <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.65353 11.6968L7.56353 14.463C8.74893 12.7506 14.0179 4.386 17.0475 0.5C13.9099 6.4268 11.1823 12.6098 8.72913 18.823C8.37712 19.7142 7.12192 19.7294 6.75232 18.8454C5.58372 16.0514 4.32732 13.2748 2.95312 10.577C3.94112 10.3794 4.99472 10.7088 5.65332 11.6968H5.65353Z" />
                  </svg>Hospitality leadership conferences
                </li>

                <li>
                  <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.65353 11.6968L7.56353 14.463C8.74893 12.7506 14.0179 4.386 17.0475 0.5C13.9099 6.4268 11.1823 12.6098 8.72913 18.823C8.37712 19.7142 7.12192 19.7294 6.75232 18.8454C5.58372 16.0514 4.32732 13.2748 2.95312 10.577C3.94112 10.3794 4.99472 10.7088 5.65332 11.6968H5.65353Z" />
                  </svg>Hotel investment & networking forums
                </li>
              </ul>

              <a href="solution-details.html" class="primary-btn3 white-bg">
                <span data-text="Explore more">Explore more</span>

                <svg width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <path d="M8.88883 5L2.22217 10L2.22217 0L8.88883 5Z" />
                  </g>
                </svg>
              </a>
            </div>
          </div>

          <div class="service-img">
            <img src="{{ url_for('static', filename='assets/img/home3/service-img1.jpg') }}" alt="Hospitality Events" />
          </div>
        </div>

        <!-- Card 02 -->
        <div class="service-card3">
          <div class="service-content-wrap">
            <span class="service-no">2. Hospitality Relationship Building</span>

            <div class="service-content">
              <h2><a href="solution-details.html">Owner Engagement</a></h2>

              <p>We help hospitality businesses build direct relationships with hotel owners, operators, franchise leaders, and hospitality investors.</p>

              <ul>
                <li>
                  <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.65353 11.6968L7.56353 14.463C8.74893 12.7506 14.0179 4.386 17.0475 0.5C13.9099 6.4268 11.1823 12.6098 8.72913 18.823C8.37712 19.7142 7.12192 19.7294 6.75232 18.8454C5.58372 16.0514 4.32732 13.2748 2.95312 10.577C3.94112 10.3794 4.99472 10.7088 5.65332 11.6968H5.65353Z" />
                  </svg>Hospitality owner networking
                </li>

                <li>
                  <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.65353 11.6968L7.56353 14.463C8.74893 12.7506 14.0179 4.386 17.0475 0.5C13.9099 6.4268 11.1823 12.6098 8.72913 18.823C8.37712 19.7142 7.12192 19.7294 6.75232 18.8454C5.58372 16.0514 4.32732 13.2748 2.95312 10.577C3.94112 10.3794 4.99472 10.7088 5.65332 11.6968H5.65353Z" />
                  </svg>Franchise & investor engagement
                </li>
              </ul>

              <a href="solution-details.html" class="primary-btn3 white-bg">
                <span data-text="Explore more">Explore more</span>

                <svg width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <path d="M8.88883 5L2.22217 10L2.22217 0L8.88883 5Z" />
                  </g>
                </svg>
              </a>
            </div>
          </div>

          <div class="service-img">
            <img src="{{ url_for('static', filename='assets/img/home3/service-img2.jpg') }}" alt="Owner Engagement" />
          </div>
        </div>

        <!-- Card 03 -->
        <div class="service-card3">
          <div class="service-content-wrap">
            <span class="service-no">3. Brand Exposure & Industry Reach</span>

            <div class="service-content">
              <h2><a href="solution-details.html">Hospitality Visibility</a></h2>

              <p>Increase your hospitality brand visibility through strategic partnerships, media exposure, and industry-wide promotional initiatives.</p>

              <ul>
                <li>
                  <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.65353 11.6968L7.56353 14.463C8.74893 12.7506 14.0179 4.386 17.0475 0.5C13.9099 6.4268 11.1823 12.6098 8.72913 18.823C8.37712 19.7142 7.12192 19.7294 6.75232 18.8454C5.58372 16.0514 4.32732 13.2748 2.95312 10.577C3.94112 10.3794 4.99472 10.7088 5.65332 11.6968H5.65353Z" />
                  </svg>Hospitality media visibility
                </li>

                <li>
                  <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.65353 11.6968L7.56353 14.463C8.74893 12.7506 14.0179 4.386 17.0475 0.5C13.9099 6.4268 11.1823 12.6098 8.72913 18.823C8.37712 19.7142 7.12192 19.7294 6.75232 18.8454C5.58372 16.0514 4.32732 13.2748 2.95312 10.577C3.94112 10.3794 4.99472 10.7088 5.65332 11.6968H5.65353Z" />
                  </svg>Global hospitality brand exposure
                </li>
              </ul>

              <a href="solution-details.html" class="primary-btn3 white-bg">
                <span data-text="Explore more">Explore more</span>

                <svg width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <path d="M8.88883 5L2.22217 10L2.22217 0L8.88883 5Z" />
                  </g>
                </svg>
              </a>
            </div>
          </div>

          <div class="service-img">
            <img src="{{ url_for('static', filename='assets/img/home3/service-img3.jpg') }}" alt="Hospitality Visibility" />
          </div>
        </div>

        <!-- Card 04 -->
        <div class="service-card3">
          <div class="service-content-wrap">
            <span class="service-no">4. Strategic Hospitality Connections</span>

            <div class="service-content">
              <h2><a href="solution-details.html">Strategic Introductions</a></h2>

              <p>We facilitate strategic introductions between hospitality brands, investors, management companies, and growth-focused business leaders.</p>

              <ul>
                <li>
                  <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.65353 11.6968L7.56353 14.463C8.74893 12.7506 14.0179 4.386 17.0475 0.5C13.9099 6.4268 11.1823 12.6098 8.72913 18.823C8.37712 19.7142 7.12192 19.7294 6.75232 18.8454C5.58372 16.0514 4.32732 13.2748 2.95312 10.577C3.94112 10.3794 4.99472 10.7088 5.65332 11.6968H5.65353Z" />
                  </svg>Investor & operator introductions
                </li>

                <li>
                  <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.65353 11.6968L7.56353 14.463C8.74893 12.7506 14.0179 4.386 17.0475 0.5C13.9099 6.4268 11.1823 12.6098 8.72913 18.823C8.37712 19.7142 7.12192 19.7294 6.75232 18.8454C5.58372 16.0514 4.32732 13.2748 2.95312 10.577C3.94112 10.3794 4.99472 10.7088 5.65332 11.6968H5.65353Z" />
                  </svg>Hospitality partnership opportunities
                </li>
              </ul>

              <a href="solution-details.html" class="primary-btn3 white-bg">
                <span data-text="Explore more">Explore more</span>

                <svg width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <path d="M8.88883 5L2.22217 10L2.22217 0L8.88883 5Z" />
                  </g>
                </svg>
              </a>
            </div>
          </div>

          <div class="service-img">
            <img src="{{ url_for('static', filename='assets/img/home3/service-img4.jpg') }}" alt="Strategic Introductions" />
          </div>
        </div>

        <!-- Card 05 -->
        <div class="service-card3">
          <div class="service-content-wrap">
            <span class="service-no">5. Global Hospitality Networking</span>

            <div class="service-content">
              <h2><a href="solution-details.html">Hospitality Networking Opportunities</a></h2>

              <p>Expand your hospitality network through curated collaborations, business opportunities, and global hospitality engagement programs.</p>

              <ul>
                <li>
                  <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.65353 11.6968L7.56353 14.463C8.74893 12.7506 14.0179 4.386 17.0475 0.5C13.9099 6.4268 11.1823 12.6098 8.72913 18.823C8.37712 19.7142 7.12192 19.7294 6.75232 18.8454C5.58372 16.0514 4.32732 13.2748 2.95312 10.577C3.94112 10.3794 4.99472 10.7088 5.65332 11.6968H5.65353Z" />
                  </svg>Hospitality business collaborations
                </li>

                <li>
                  <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.65353 11.6968L7.56353 14.463C8.74893 12.7506 14.0179 4.386 17.0475 0.5C13.9099 6.4268 11.1823 12.6098 8.72913 18.823C8.37712 19.7142 7.12192 19.7294 6.75232 18.8454C5.58372 16.0514 4.32732 13.2748 2.95312 10.577C3.94112 10.3794 4.99472 10.7088 5.65332 11.6968H5.65353Z" />
                  </svg>International networking initiatives
                </li>
              </ul>

              <a href="solution-details.html" class="primary-btn3 white-bg">
                <span data-text="Explore more">Explore more</span>

                <svg width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <path d="M8.88883 5L2.22217 10L2.22217 0L8.88883 5Z" />
                  </g>
                </svg>
              </a>
            </div>
          </div>

          <div class="service-img">
            <img src="{{ url_for('static', filename='assets/img/home3/service-img4.jpg') }}" alt="Hospitality Networking Opportunities" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- home3 Service Section End -->
{% endblock %}
